<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume Maker</title>
</head>
<body>
    <section>
        <h1>personal information</h1>
        <form action="" method="POST">
            <div>
                <input type="text" name="first_name" id="" placeholder="Enter First name">
                <input type="text" name="Last_name" id="" placeholder="Enter Last name">
            </div>
        </form>

    </section>
    
</body>
</html>